services:
  app:
    restart: unless-stopped
    build:
      context: .
    volumes:
      - .:/usr/src/app # "Menyambungkan" folder lokal ke Docker
      - /usr/src/app/node_modules # Jangan timpa node_modules docker dengan lokal
    env_file:
      - ./.env
    command: npm run start:dev # Gunakan mode dev agar auto-restart (nodemon)
    container_name: highvol-app
    ports:
      - "3000:3000"
      - "5555:5555" # Port Prisma Studio
    environment:
      - DATABASE_URL=postgresql://user_admin:admin123@postgres:5432/highvol_db?schema=public
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15-alpine
    container_name: highvol-db
    restart: always
    environment:
      POSTGRES_USER: user_admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: highvol_db
    ports:
      - "2010:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: highvol-redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"] # Enable persistence

  redis-insight:
    image: redis/redisinsight:latest
    container_name: highvol-redis-insight
    ports:
      - "5540:5540"
    volumes:
      - redisinsight_data:/data
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin

volumes:
  postgres_data:
  redis_data:
  redisinsight_data:
